/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/app/console
/app/Exceptions
/bootstrap
/design
/public/design/AdminLTE
/public/design/AdminLTE-master
/resources/assets
/storage/framework
/storage/logs
/tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
